# Compilados
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*~

# IntelliJ / JetBrains
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Maven
target/

# Gradle
.gradle/
build/

# Sistema operacional
.DS_Store
Thumbs.db